.cardLargeContainer {
    max-width: 350px;
    display: flex;
    margin: 5px;

    .wrapper {
        border: 1px solid black;

        .text {
            font-family: Inter;
            font-size: 32px;
            font-weight: 700;
            line-height: 44px;
            text-align: left;
            margin: 32px 0;
        }

        .discription {
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            text-align: left;
            color: rgba(141, 142, 151, 1);
            ;
        }
    }
}

.cardLargeContainer__poster{
    max-width: 150px;
}