.post-large {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  .large__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .large__info {
      margin-right: 20px;
    }

    .large__title {
      font-family: Inter;
      font-size: 35px;
      line-height: 35px;
      margin: 0;
      margin-bottom: 30px;
    }

    .large__text {
      margin: 0;
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      text-align: left;
      color: #8d8e97;
    }

    .large__date {
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      margin: 0;
      margin-bottom: 20px;
      color: #8d8e97;
    }

    .large__image img {
      width: 256px;
      height: auto;
    }
  }

  .large__buttons {
    .like {
      margin-right: 20px;
    }
  }
}
